[flake8]
ignore =    D100 Missing docstring in public module
            D101 Missing docstring in public class
            D102 Missing docstring in public method
            D103 Missing docstring in public function
            D104 Missing docstring in public package
            D106 Missing docstring in public nested class
            N805 first argument of a method should be named 'self'
            Q000 Double quotes found but single quotes preferred
            S104 Possible binding to all interfaces
            WPS110 Found wrong variable name
            WPS111 Found too short name: v < 2
            WPS201 Found module with too many imports: 13 > 12
            WPS213 Found too many expressions
            WPS306 Found class without a base class
            WPS323 Found `%` string formatting
            WPS430 Found nested function

max-line-length = 88

# Exclude some directories from flake8
# __init__.py files are excluded by default
exclude = .git, .idea, .mypy_cache, .venv, .vscode, migrations

nested-classes-whitelist = Config